.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-secondary{
    text-align: justify;
}
.tituloServicio{
    text-align: center;
}
